streamlit
firebase-admin
google-auth
requests
PyPDF2
streamlit-extras
streamlit
requests
PyPDF2
PyMuPDF  # Replacing 'fitz' with its official package name
firebase-admin
llama-index
chromadb
InstructorEmbedding
streamlit-extras
pytesseract
Pillow
openai
